.navbarindex{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: royalblue;
  color: white;
}
.addtaskdiv{
  width: 100%;
  margin-top: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
/*   // text-align: left; */
  text-align:center;
}
.submitbutton{
  background-color: green;
  border-radius: 5px;
  border: none;
  font-size: medium;
  padding: 5px 15px 5px 15px;
}
.maintable{
  margin: 3%;
  border-top: 2px black solid;
  border-right: 3px black solid;
  border-left: 3px black solid;
  width: 94%;
  /* background-color: blue; */
  display: flex;
}
.tablist{
  text-align: center;
  width: 33%;
  max-width: 33%;
}
#todo #done #all{
  display: none;
}

.footerofpage{
  position: fixed;
  bottom: 0;
  height: max-content;
  padding: 2% 2% 3% 2%;
  left: 0;
  right: 0;
  text-align: center;
  width: 96%;
  background-color: black;
}
.clearbut{
  border: none;
  color: red;
  background-color: white;
  font-size: large;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
}
.markdonebut{
  border: 0.5px black solid;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 0%;
  text-align: center;
}
.markundonebut{
  border: 0.5px black solid;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: dodgerblue;
  text-align: center;
  padding: 0%;
}
